body {
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	width: 100%;
	text-align: center;
}

form label {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
}

input {
	height: 3rem;
	width: 20rem;
}

#preview {
	height: 10rem;
	width: 10rem;
}

.row {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.data {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cage {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 10rem;
	width: 20%;
	background-color: pink;
	color: white;
	margin: 1rem;
}

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.error {
	width: 100%;
	color: red;
}